<h1>Rolodex!</h1>

<h2>A Page to Store your Contacts</h2>

<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Contact</h1>
      <p>Add a new contact to your rolodex</p>
      {{#each errors}}
      <div class="error">
        <p>ERRORS EVERYWHERE!</p>
      </div>
      {{/each}}
      <form action="/api/rolodex" method="POST">
        <div class="input-group">
          <label for="contactsName">Name of the contact</label>
          <input type="text" name="contactsName" id="contactsName" class="input-box" placeholder="Name"
            maxlength="100" value={{contactsName}}>
        </div>
        <div class="input-group">
          <label for="contactsRelationship">Relationship</label>
          <input type="text" name="contactsRelationship" id="contactsRelationship" class="input-box" placeholder="Relationship"
          maxlength="100" value={{contactsRelationship}}>
        </div>
        <div class="input-group">
          <label for="contactsTitle">Company</label>
          <input type="text" name="contactsTitle" id="contactsTitle" class="input-box" placeholder="Company"
          maxlength="100" value={{contactsCompany}}>
        </div>
         <div class="input-group">
          <label for="contactsCity">City</label>
          <input type="text" name="contactsCity" id="contactsCity" class="input-box" placeholder="City"
          maxlength="100" value={{contactsCity}}>
        </div>
         <div class="input-group">
          <label for="contactsTitle">Title</label>
          <input type="text" name="contactsTitle" id="contactsTitle" class="input-box" placeholder="Title"
          maxlength="100" value={{contactsTitle}}>
        </div>
         <div class="input-group">
          <label for="contactsPhone">Phone</label>
          <input type="text" name="contactsPhone" id="contactsPhone" class="input-box" placeholder="Phone"
          maxlength="100" value={{contactsPhone}}>
        </div>
         <div class="input-group">
          <label for="contactsEmail">Email</label>
          <input type="text" name="contactsEmail" id="contactsEmail" class="input-box" placeholder="Email"
          maxlength="100" value={{contactsEmail}}>
        </div>
         <div class="input-group">
          <label for="contactsGithub">GitHub</label>
          <input type="text" name="contactsGithub" id="contactsGithub" class="input-box" placeholder="Github"
          maxlength="100" value={{contactsGithub}}>
        </div>

        {{!-- <div class="form-group appliedBtns">
          <label for="applied">Have you applied yet?</label><br>
          <input class = "appliedBtns" type="radio" name="applied" value="1" checked>Yes<br>
          <input class = "appliedBtns" type="radio" name="applied" value="0">No
        </div> --}}
        <input type="submit" value="Add Contact" class="btn btn-reverse">
      </form>
    </div>
  </section>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>